/* General CSS */ 
@font-face {
    font-family: 'Lemon Milk Pro Regular'; 

    src: url(/assets/fonts/Lemon\ Milk\ Pro\ Regular.otf); 
    }
    
* { 
    font-family: 'Lemon Milk Pro Regular';     
    padding: 0; 
    margin: 0; 
} 

body { 
    font-family: 'Lemon Milk Pro Regular'; 
    color: #FFFFFF; 
    background-image: url("/assets/img/baggrund.png");
    background-color: #0D0020;
    background-repeat: repeat-y; 

}  

h2 { 
    font-size: 40px; 
    background-size: 100%; 
    background-image: linear-gradient(45deg, #2476CC , #1CB6FA ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center; 
    margin: auto; 
    padding-top: 10vh; 
    padding-bottom: 7vh; 
} 

h3 { 
    font-size: 25px; 
    padding-top: 10vh; 
    padding-bottom: 5vh; 
    width: 950px;  
    margin: auto; 
    color: #FFFFFF; 
} 

.textGradient { 
    display: block; 
    font-weight: 600; 
    font-size: 32px; 
    width: 370px; 
    background-size: 100%; 
    background-image: linear-gradient(45deg, #05A6D9 , #01FBAD ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
} 

.alignRight { 
    width: 100%; 
    text-align: right; 
} 

.blueRedGradient { 
    background-image: linear-gradient(45deg, #036FE3 , #D55D1E ); 
} 

.alignCenter { 
    width: 100%; 
    text-align: center; 
} 

li { 
    list-style-type: none; 
} 

button { 
    display: block; 
    font-size: 20px; 
    line-height: 1.25; 
    border: 2px solid #FFFFFF; 
    background-color: transparent; 
    color: #FFFFFF; 
} 

button:hover{ 
    animation: buttonAnimation 5s ; 
} 

@keyframes buttonAnimation {  
    from { background-color: transparent; } 
    to {     background-image: linear-gradient(45deg, #E9434A , #D311EB );  } 
} 
.underlineLink { 
    text-decoration: underline; 
    color: #FFFFFF; 
} 

a { 

    text-decoration: none; 
} 

/* Main navigation menu */ 
.mainNavigation { 
    display: flex; 
    flex-direction: row;  
    width: 100%; 
    height: 120px; 
    background-color: #000000; 
} 
#mobileMenu , .mobileMenu { 
    display: block; 
    margin: auto 0; 
}     
.logo { 
    display: block; 
    width: 148px;  
    height: 55px; 
    padding-left: 120px; 
    margin: auto; 
}  
    
.menuList { 
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    margin: auto; 
}  
    
.menuListItem , .informationButton { 
    display: block; 
    color: #FFFFFF; 
    font-size: 16px; 
    margin: auto 30px; 
} 

.menuListItem a { 
    color: #FFFFFF; 
    text-decoration: none; 
} 

.dropdownMenu { 
    height: auto; 
    margin: auto 30px; 
    z-index: 2; 
} 

.dropdownItems { 
    display: none; 
    position: absolute; 
    flex-direction: column; 
} 
    
.dropdownItems a { 
    text-decoration: none; 
    color: #FFFFFF; 
} 

.dropdownMenu:hover  .dropdownItems { 
    display: flex; 
} 

    .dropdownItem { 
    display: block; 
    width: auto; 
    height: 30px; 
    background-color: #000000; 
    padding: 25px 10px; 
    } 

    .socialMediaMenu , .logoDiv {  
    display: flex; 
    flex-direction: row;  
    width: 415px; 
    height: 100%; 
    margin: 0 auto; 
    } 
    
    .socialMediaMenu a {  
    margin: auto 18px; 
    text-decoration: none; 
    } 
  
    
    .fab { 
    font-size: 16px; 
    color: #FFFFFF; 
    } 
#burgerMenu , .burgerMenu { 
    display: none; 
} 
/* Forside */ 
    .headerVideo { 
        display: block; 
        width: 100%; 
        height: 600px; 
    } 
    video { 

        width: 100%; 
        height: auto; 
        z-index: 0; 
        top: 0; 
    } 

    .videoOverlay { 
        display: block; 
        width: 100%; 
        z-index: 1; 
        position: absolute; 

        top: 120px; 
    } 

    .headerText { 
    width: 700px; 
    font-size: 55px; 
    line-height: 1.5; 
    text-align: center; 

    margin: auto; 
    padding-top: 15vh;  
    background-size: 100%; 
    background-image: linear-gradient(45deg, #E9434A , #D311EB ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    }    

.headerButton { 
    display: block; 
    font-size: 20px; 
    line-height: 1.25; 
    border: 2px solid #FFFFFF; 
    width: 350px; 
    background-color: transparent; 
    color: #FFFFFF; 
    height: 100px; 
    margin: auto; 
    margin-top: 15vh; 
}  

.headerButton :hover {  

} 

.partner_logo { 

    padding: 5vh ; 
    height: 50px; 
} 


.hightlight_ikon_container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.highlight_ikon {
    width: 75px; 
}

.highlightsBox , .winners_of_tournaments { 
    display: flex; 
    flex-direction: row; 
    height: auto; 
    width: 950px; 
    padding: 10vh 0px; 
    margin: auto; 
} 

.winners_of_tournaments50 { 
    display: flex; 
    flex-direction: row; 
    width: 950px; 
    margin: auto; 
} 
.winners { 
    width: 50%; 
} 
.statistics { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 33%; 
} 
.pictureText { 
    padding-top: 15px; 
    width: 100%; 
} 
.highlightNumbers {  
    width: 150px;  
    font-size: 35px; 
    margin: 0; 
} 

.highlightText { 
    font-size: 16px; 
    width: 250px; 
    margin: 0; 
} 
.winnerText { 
    width: 475px; 
} 
.supportingPartners  { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 950px; 
    margin: auto; 
} 

.centerButton { 
    margin: auto; 
    margin-top: 5vh; 
    margin-bottom: 10vh; 
} 

/* Billetter */ 
.h3billetter { 
    width: 540px; 
    text-align: center; 
    padding-top: 0; 
} 

.ticketNewsletter { 
    display: block; 
    margin: auto; 
    width: 430px; 
    padding-bottom: 40vh; 
} 

/* Nyheder */ 
.lineBox { 
    display: block; 
    width: 950px; 
    margin: auto; 
    color: transparent; 
    border-bottom: 1px solid #FFFFFF; 
    height: 55px; 
} 

.newsHeadline , .articleDate { 
    text-transform: uppercase; 
} 

/* Article */ 
.newsHeadline { 

    width: 950px; 
} 

.articleDescription { 
    font-size: 25px; 
    font-weight: bold; 
    margin: 5vh auto; 
} 

.articlePicture { 
    display: block; 
    margin: 2.5vh auto;  
} 
.boldText { 
    font-weight: bold; 
} 
/* Om Gamebox Festival */ 
article { 
    padding-bottom: 5vh; 
    width: 950px; 
} 

.aboutFlex { 
    display: flex; 
    flex-direction: row; 
    padding-bottom: 7vh; 
} 
/* FAQ */ 
.questionBox { 
    width: 950px; 
    height: 500px; 
    display: block; 
    margin: auto; 
} 

.question { 
    display: flex; 
    width: 100%; 
    border-bottom: 2px solid #FFFFFF; 
} 

.questionAnswer { 
    height: auto; 
} 

.faqIcon { 
    display: block; 
    align-self: right; 
    color: #FFFFFF; 
    width: 20px;  
    height: 20px;  
    position: relative; 
    right: 15px;  
    padding-top: 10vh;   
} 

.answer { 
    display: block; 
    height: 0px; 
    padding-top: 5vh; 
    visibility: hidden; 
} 

/* Regler */ 
.listPoint { 
    list-style-type: circle; 
} 

/* Turneringsregler */ 
.gameRules { 
    list-style-type: none; 
} 

/* Bliv partner */ 
p , .ruleList , .contactPartner , .partnerPromotion {    
    color: #FFFFFF; 
    line-height: 1.5; 
    width: 950px; 
    margin: auto; 
} 

.partnerPromotion { 
    padding-top: 10vh; 
} 

.imagebox { 
    display: block; 
    width: 100%; 
    height: 345px; 
    margin: 40px auto; 
} 

.contactPartner { 
    padding-top: 40px; 
} 

.contactPartner li { 
    list-style-type: none; 
    padding-top: 0.5vh; 
} 

.contactPartner li a { 
   color: #FFFFFF; 
   text-decoration: none;  
} 

/* Footer */ 
#email-field , #postalcode-field {     
    color: #707070; 
    border: none; 
    font-size: 16px; 
    margin: 5vh 0px; 
    width: 430px; 
    height: 45px;  
    transform: skew(-20deg); /* Source: https://css-tricks.com/the-shapes-of-css/ */ 
    padding: auto 15px; 
} 

.left , .right { 
    display: block; 
    width: 50%; 
} 

    footer { 
        display: block; 
        background-color: #000000; 
        height: auto; 
        width: 100%; 
        bottom: 0; 
        margin-top: 10vh; 
        padding-bottom: 5vh; 
    } 
.MCHlogo { 
    padding-left: 140px; 
} 
    .footerContent { 
        display: flex; 
        flex-direction: row; 
        margin: auto 140px;  
    } 

.contactFooter { 
    list-style-type: none; 
    color: #FFFFFF; 
    padding-top: 60px; 
    font-weight: bold; 
    line-height: 1.5; 
} 

.contactFooter a { 
    text-decoration: none; 
    color: #FFFFFF; 
} 

.footerLeft , .footerMiddle , .footerRight { 
    width: 33%; 
} 

.custom-field { 
    display: flex; 
    flex-direction: column; 
    height: auto; 
} 
.mainbox { 
    display: flex; 
    flex-direction: column; 
} 


#email-field  #postalcode-field { 
    display: block; 
    width: 430px; 
    height: 45px; 
    transform: skew(-20deg); 
    color: #707070; 
    border: none; 
    font-size: 16px; 
} 
#postalcode-field { 
    margin-top: 10px; 
}  

.acceptTerms { 
    display: flex; 
    flex-direction: row; 
} 

.acceptBox { 
    display: block; 
    width: 18px; 
    height: 18px; 
    background-color: transparent; 
    margin: 0px 5px 5px 0px; 

} 
.acceptText { 
    display: block; 
    margin: 0 0 20px 0; 
    width: 270px; 
    font-size: 10px; 
    font-style: italic; 
} 
.newsletterButton , .centerButton { 
    width: 430px;  
    height: 50px; 
} 


/* Mobile version */ 
@media only screen and (max-device-width: 412px) { 
    * { 
        max-width: 412px; 
    } 

    body { 
        display: block ; 
    } 

    h2 { 
        font-size: 30px;  
    } 

    h3 { 
        width: 80%; 
        font-size: 22px; 
        padding-bottom: 2.5vh;      
    } 

    p { 
        font-size: 14px; 
        width: 80%; 
        margin: auto; 
    } 
    .centerButton { 

        width: 80%; 
    } 

    /* Main navigation menu */ 
    .mainNavigation { 
        display: flex ; 
        flex-direction: row; 
        width: 100%; 
        height: 120px; 
        background-color: #000000; 
    } 

    .logo { 
        display: block; 
        width: 75px;  
        height: auto;  
       padding-left: 0; 
    } 
/* 
    .mobileMenu { 
        display: block; 
        background-color: pink; 
        width: 100%; 
        height: 100%; 
        visibility: hidden; 
        position: absolute; 
        margin-top: 120px; 
    }     
   .burgerMenu { 
       display: inline-block; 
       background-color: green; 
       width: 50%;  
       height: 25px; 
   } 
    .menuList { 
        display: flex; 
        flex-direction: column; 
        width: 100%; 
        margin: auto; 
    }  
        
    .menuListItem { 
        display: block; 
        color: #FFFFFF; 

        font-size: 25px; 
        margin: 2.5vh auto; 
    } 
    
    .menuListItem a { 
        color: #FFFFFF; 
        text-decoration: none; 
    } 
    .menuListItem li { 
        display: block; 
        width: auto; 
        margin: auto; 
    } 
    .dropdownMenu { 
        height: auto; 
        margin: auto ; 
    } 
    
    .dropdownItems { 
        display: none; 
        position: absolute; 
        flex-direction: column; 
    } 
        
    .dropdownItems a { 
        text-decoration: none; 
        color: #FFFFFF; 
    } 
    
    .dropdownMenu:hover .dropdownItems { 
        display: flex; 
    } 
    
        .dropdownItem { 
        display: block; 
        width: auto; 
        
        height: 30px; 
        background-color: purple; 
        padding: 25px 10px; 
        } 
   .logoDiv {  
        display: flex; 
        flex-direction: row;  
        width: 50%; 
        height: 100%; 
        margin: 0; 
    } 
        
    .socialMediaMenu  {  
        display: none; 
    } 
*/ 
    /* Billetter */ 

    .h3billetter { 
        font-size: 18px; 
        margin-bottom: 25px; 
        width: 80%; 
    } 

    #email-field , #postalcode-field { 
        margin: auto; 
        width: 80%; 
    } 

    #postalcode-field { 
        margin: 2.5vh auto 1.5vh auto; 
    } 

    .acceptTerms { 
        width: 80%; 
        margin: auto; 
        margin-bottom: 25px; 
    } 
    .newsletterButton {  
        margin: auto; 
        width: 80%; 
    } 
    /* FAQ */ 
    .question , .answer { 
        width: 80%; 
        margin: auto; 
    } 
    .question { 
        width: 80%; 
        display: flex; 
        flex-direction: row; 
    } 
    .faqIcon img { 
        margin-left: 11vw; 
        margin-right: 0; 
    }  

    .question h3 { 
        display: inline-block; 
        font-size: 18px; 
        margin: 0; 
    } 
    .answer p { 

        margin: 0; 
        width: 100%; 
    } 
    /* Turneringsregler */ 

   .ruleList { 
       font-size: 14px; 
       width: 80%; 
       margin: auto; 
   } 
   /* Nyheder */ 
   .newsArticle { 
        width: 100%; 
        margin: auto; 
   } 

   .newsHeadline { 
       width: 80%;  
       font-size: 18px; 
    } 
   .articleDate { 
        width: 80%; 
        margin: auto; 
   } 
   .lineBox { 
    height: 15px; 
    width: 80%; 
    padding: 0;  
   } 

   /* Artikel */ 
   .articleHeadline { 
       width: 80%; 
       font-size: 22px; 
   } 

   .articlePicture { 
       height: 300px; 
       width: auto; 
       object-fit: cover; 
   } 
   .articleDescription { 
       font-size: 20px; 
   } 

   .pictureDescription { 
       font-size: 10px;  
   } 
   .articleDate { 
       font-size: 12px; 
   } 
   .boldText { 
       font-size: 15px; 
   } 
   /* Footer */ 
   footer { 
       display: none; 
   } 
} 